# Capstone 2: Obesity in America
## Data Wrangling

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### Data Collection

load data

In [14]:
ls

Capstone2_1.ipynb               data/
Capstone2_2.ipynb               figures/
Capstone_BRFSS_Obesity_CSV.csv  models/

In [2]:
df = pd.read_csv('Capstone_BRFSS_Obesity_CSV.csv')

In [3]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

#### Data Organization

Create a file structure

In [17]:
path = 'springboard/Capstone2Project'
print ("The current working directory is %s" % path)

The current working directory is springboard/Capstone2Project

In [18]:
mkdir data

mkdir: data: File exists

In [19]:
mkdir figures

mkdir: figures: File exists

In [20]:
mkdir models

mkdir: models: File exists

In [21]:
ls

Capstone2_1.ipynb               data/
Capstone2_2.ipynb               figures/
Capstone_BRFSS_Obesity_CSV.csv  models/

#### Data Definition

Gain an understanding of the data features

In [3]:
#Drop the columns not needed
df = df.drop(['YearEnd', 'Datasource', 'Data_Value_Unit', 'Data_Value_Footnote_Symbol', 'Data_Value_Type', 'Data_Value_Alt', 'Low_Confidence_Limit'], axis=1)

In [4]:
#drop category columns because they are summed up in strat1 column
df = df.drop(['Total', 'Age(years)', 'Education', 'Gender', 'Income', 'Race/Ethnicity'], axis=1)

In [5]:
df = df.drop(columns = ['High_Confidence_Limit '])

In [6]:
df.columns

Index(['YearStart', 'LocationAbbr', 'LocationDesc', 'Class', 'Topic',
       'Question', 'Data_Value', 'Data_Value_Footnote', 'Sample_Size',
       'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID',
       'LocationID', 'StratificationCategory1', 'Stratification1',
       'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [7]:
df.shape

(53392, 19)

In [8]:
# Description of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   YearStart                  53392 non-null  int64
 1   LocationAbbr               53392 non-null  object
 2   LocationDesc               53392 non-null  object
 3   Class                      53392 non-null  object
 4   Topic                      53392 non-null  object
 5   Question                   53392 non-null  object
 6   Data_Value                 48346 non-null  float64
 7   Data_Value_Footnote        5046 non-null   object
 8   Sample_Size                48346 non-null  float64
 9   GeoLocation                52384 non-null  object
 10  ClassID                    53392 non-null  object
 11  TopicID                    53392 non-null  object
 12  QuestionID                 53392 non-null  object
 13  DataValueTypeID            53392 non-null  object
 14  LocationID                 53392 non-null  int64
 15  StratificationCategory1    53392 non-null  object
 16  Stratification1            53392 non-null  object
 17  StratificationCategoryId1  53392 non-null  object
 18  StratificationID1          53392 non-null  object
dtypes: float64(2), int64(2), object(15)
memory usage: 7.7+ MB

In [9]:
df.nunique()

YearStart                       6
LocationAbbr                   55
LocationDesc                   55
Class                           3
Topic                           3
Question                        9
Data_Value                    669
Data_Value_Footnote             2
Sample_Size                  8123
GeoLocation                    54
ClassID                         3
TopicID                         3
QuestionID                      9
DataValueTypeID                 1
LocationID                     55
StratificationCategory1         6
Stratification1                28
StratificationCategoryId1       6
StratificationID1              28
dtype: int64

In [10]:
df.nunique()/53392

YearStart                    0.000112
LocationAbbr                 0.001030
LocationDesc                 0.001030
Class                        0.000056
Topic                        0.000056
Question                     0.000169
Data_Value                   0.012530
Data_Value_Footnote          0.000037
Sample_Size                  0.152139
GeoLocation                  0.001011
ClassID                      0.000056
TopicID                      0.000056
QuestionID                   0.000169
DataValueTypeID              0.000019
LocationID                   0.001030
StratificationCategory1      0.000112
Stratification1              0.000524
StratificationCategoryId1    0.000112
StratificationID1            0.000524
dtype: float64

In [11]:
df.describe()

          YearStart    Data_Value   Sample_Size    LocationID
count  53392.000000  48346.000000   48346.00000  53392.000000
mean    2013.281465     31.156681    3889.19286     30.282215
std        1.693300     10.247033   19829.42129     16.821318
min     2011.000000      0.900000      50.00000      1.000000
25%     2012.000000     24.100000     566.00000     17.000000
50%     2013.000000     30.700000    1209.00000     30.000000
75%     2015.000000     37.000000    2519.00000     44.000000
max     2016.000000     77.600000  476876.00000     78.000000

#### Data Cleaning

In [12]:
#Redefine column names
df.rename(columns={'YearStart':'Year', 'LocationDesc':'Location', 'Data_Value':'Percent'}, inplace=True)

In [13]:
#Year column from int64 to datetime
pd.to_datetime(df['Year'], format='%Y')

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
53387   2016-01-01
53388   2016-01-01
53389   2016-01-01
53390   2016-01-01
53391   2016-01-01
Name: Year, Length: 53392, dtype: datetime64[ns]

In [14]:
df['Location'].unique()

array(['Alabama', 'National', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Connecticut', 'Colorado', 'Delaware', 'Florida',
       'District of Columbia', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'West Virginia', 'Washington', 'Wisconsin', 'Wyoming',
       'Virgin Islands'], dtype=object)

In [23]:
df['Location'].nunique()

50

In [15]:
#delete non-states
non_states = ['National', 'Guam', 'District of Columbia', 'Puerto Rico', 'Virgin Islands']

In [17]:
df = df[~df['Location'].isin(non_states)]

In [22]:
df['Location'].nunique()

50

In [24]:
pd.notnull(df['Data_Value_Footnote']).value_counts()

False    45629
True      4767
Name: Data_Value_Footnote, dtype: int64

In [25]:
df = df[df['Percent'].notna()]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45629 entries, 0 to 53309
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       45629 non-null  int64
 1   LocationAbbr               45629 non-null  object
 2   Location                   45629 non-null  object
 3   Class                      45629 non-null  object
 4   Topic                      45629 non-null  object
 5   Question                   45629 non-null  object
 6   Percent                    45629 non-null  float64
 7   Data_Value_Footnote        0 non-null      object
 8   Sample_Size                45629 non-null  float64
 9   GeoLocation                45629 non-null  object
 10  ClassID                    45629 non-null  object
 11  TopicID                    45629 non-null  object
 12  QuestionID                 45629 non-null  object
 13  DataValueTypeID            45629 non-null  object
 14  LocationID                 45629 non-null  int64
 15  StratificationCategory1    45629 non-null  object
 16  Stratification1            45629 non-null  object
 17  StratificationCategoryId1  45629 non-null  object
 18  StratificationID1          45629 non-null  object
dtypes: float64(2), int64(2), object(15)
memory usage: 7.0+ MB

In [27]:
df = df.drop(['Data_Value_Footnote'], axis =1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45629 entries, 0 to 53309
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       45629 non-null  int64
 1   LocationAbbr               45629 non-null  object
 2   Location                   45629 non-null  object
 3   Class                      45629 non-null  object
 4   Topic                      45629 non-null  object
 5   Question                   45629 non-null  object
 6   Percent                    45629 non-null  float64
 7   Sample_Size                45629 non-null  float64
 8   GeoLocation                45629 non-null  object
 9   ClassID                    45629 non-null  object
 10  TopicID                    45629 non-null  object
 11  QuestionID                 45629 non-null  object
 12  DataValueTypeID            45629 non-null  object
 13  LocationID                 45629 non-null  int64
 14  StratificationCategory1    45629 non-null  object
 15  Stratification1            45629 non-null  object
 16  StratificationCategoryId1  45629 non-null  object
 17  StratificationID1          45629 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 6.6+ MB

#### Looking at Obesity

In [29]:
df['Obese_Attribute'] = df['Question'].str.contains('obesity')

In [30]:
df_obesity = df[(df['Obese_Attribute']== True)]

In [31]:
df_obesity.shape

(7625, 19)

In [32]:
df_obese_total = df_obesity[df_obesity['Stratification1']=='Total']

In [33]:
df_obese_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 50390
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       300 non-null    int64
 1   LocationAbbr               300 non-null    object
 2   Location                   300 non-null    object
 3   Class                      300 non-null    object
 4   Topic                      300 non-null    object
 5   Question                   300 non-null    object
 6   Percent                    300 non-null    float64
 7   Sample_Size                300 non-null    float64
 8   GeoLocation                300 non-null    object
 9   ClassID                    300 non-null    object
 10  TopicID                    300 non-null    object
 11  QuestionID                 300 non-null    object
 12  DataValueTypeID            300 non-null    object
 13  LocationID                 300 non-null    int64
 14  StratificationCategory1    300 non-null    object
 15  Stratification1            300 non-null    object
 16  StratificationCategoryId1  300 non-null    object
 17  StratificationID1          300 non-null    object
 18  Obese_Attribute            300 non-null    bool
dtypes: bool(1), float64(2), int64(2), object(14)
memory usage: 44.8+ KB