# Capstone 2: Obesity in America
## Preprocessing and Training Data Development

The goal of this step is to create a cleaned development dataset to be used for the modeling step.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
cd data

/Users/erinquense/springboard/Capstone2Project/data

In [5]:
df = pd.read_csv('df_for_preprocess.csv', index_col=0)

In [6]:
df.head()

,Year,Location,% who are overweight,% who have obesity,% who are moderately active,% less than 1 fruit/day,Total,18 - 24,25 - 34,35 - 44,...,American Indian/Alaska Native,Asian,Hawaiian/Pacific Islander,Hispanic,Non-Hispanic Black,Non-Hispanic White,Other,B_% who are overweight,B_% who are moderately active,B_% less than 1 fruit/day
0,2011-01-01,Alaska,32.0,19.8,62.8,45.0,0,1,0,0,...,0,0,0,0,0,0,0,Low,Very High,Very High
1,2011-01-01,Alaska,38.7,23.5,57.6,43.6,0,0,1,0,...,0,0,0,0,0,0,0,Very High,Very High,High
2,2011-01-01,Alaska,38.9,29.5,55.3,42.3,0,0,0,1,...,0,0,0,0,0,0,0,Very High,High,High
3,2011-01-01,Alaska,43.3,29.2,56.2,35.8,0,0,0,0,...,0,0,0,0,0,0,0,Very High,Very High,Medium
4,2011-01-01,Alaska,38.9,33.4,58.2,33.3,0,0,0,0,...,0,0,0,0,0,0,0,Very High,Very High,Low

In [7]:
df = df.drop(['Year'], axis=1)

Convert categorical features to numerical using dummy variables.

In [8]:
dummy = pd.get_dummies(df['Location'])
df = pd.concat([df, dummy], axis = 1)
df = df.drop(['Location'], axis=1)

In [9]:
# dummy = pd.get_dummies(df['B_% who are overweight'], prefix='overweight_')
# df = pd.concat([df, dummy], axis = 1)
df = df.drop(['B_% who are overweight'], axis=1)
df = df.drop(['% who are overweight'], axis=1)

In [10]:
dummy = pd.get_dummies(df['B_% who are moderately active'], prefix='mod_active_')
df = pd.concat([df, dummy], axis = 1)
df = df.drop(['B_% who are moderately active'], axis=1)
df = df.drop(['% who are moderately active'], axis=1)

In [11]:
dummy = pd.get_dummies(df['B_% less than 1 fruit/day'], prefix='fruit_')
df = pd.concat([df, dummy], axis = 1)
df = df.drop(['B_% less than 1 fruit/day'], axis=1)
df = df.drop(['% less than 1 fruit/day'], axis=1)

In [12]:
df = df.drop(['Total'], axis=1)

In [13]:
df.head()

,% who have obesity,18 - 24,25 - 34,35 - 44,45 - 54,55 - 64,65 or older,College graduate,High school graduate,Less than high school,...,mod_active__Medium,mod_active__No Data Reported,mod_active__Very High,mod_active__Very Low,fruit__High,fruit__Low,fruit__Medium,fruit__No Data Reported,fruit__Very High,fruit__Very Low
0,19.8,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,23.5,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,29.5,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,29.2,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4,33.4,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [14]:
df.to_csv('df_for_model_fitting.csv')